<h1>SHANE'S ADVENTURES</h1>

<p>Welcome To Shane's Adventure Page..</p>
 
<div class="inside-box">
<h1>Shane's Wacky Adventures!</h1>
 <% @adventures.each do |adventure| %>
 <br>
    <p class="author">Author: <%= adventure.author %></p>
    <br>
      <%=link_to adventure.title,adventure_page_path(adventure, adventure.pages.find_by_name(:start)),
        :class=> " btn-lg btn-success" %>
        <br><br>
      <%= link_to'click to edit', edit_adventure_path(adventure.id),:class => " btn btn-primary" %>
 <% end %>
 </div>
 <br><br>
 <div class="adventure">


<h1>Make your own adventure</h2>
<%= link_to "Click to add your Adventures", new_adventure_path, :class=> "btn btn-lg btn-warning" %>
<br>
</div>
<div class="add-url">
<h1>Add a library</h1>

  <%= form_for Library.new do |f| %>
  <%= f.text_field :url, placeholder: 'Enter Url', :class =>"form-control" %>

  <%= f.submit 'Submit',:class => " btn btn-primary" %>

  <% end %>
</div>
<div class="see-all">
<h1>See all adventures</h1>
<%= link_to "see all adventures", libraries_path, :class => "btn btn-danger" %>
</div>


  
</div>

